.cycle {
  /* position: relative; */
  animation-name: cycle;
  animation-iteration-count: infinite;
  animation-duration: 6.6s;
}

.yoke {
  /* position: relative; */
  animation-name: yoke;
  animation-iteration-count: infinite;
  animation-duration: 6.6s;
  /* animation-timing-function: ease-in-out; */
}

@keyframes cycle {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes yoke {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  52% {
    opacity: 1;
  }

  67% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


#c2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  animation-delay: -4.4s;
}

#c3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  animation-delay: -2.2s;
}

#y2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  animation-delay: -3.3s;
}