img {
  margin-top: 3em;
  margin-bottom: 3em;
}

p {
  margin: 0.67em 0;
}

article {
  background-color: var(--card);
  padding: 1px 24px 48px 24px;
  border-radius: 16px;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.28);
}